<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Joakims Calculator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/calc.css}" href="../static/css/calc.css" type="text/css">
</head>
<body>

<div id="calculator">
    <div class="top">
        <div class="screen"></div>
    </div>
    <div class="keys">
        <span class="operator">/</span>
        <span class="operator">*</span>
        <span id="delete" class="long">Del</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span class="operator">-</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span class="operator">+</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span id="eval">=</span>
        <span class="long">0</span>
        <span>.</span>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("span").on('click', function(){
            var operators = ["+", "-", "*", "/"];
            var char = $(this).text();
            if (char === "Del") {
                $(".screen").text("");
            }
            else if (char === "=") {
                var calc = $(".screen").text();
                calc = eval(calc);
                $(".screen").text(calc);
            }
            else {
                var current = $(".screen").text();
                if (operators.includes(current.charAt(current.length-1)) && operators.includes(char)) {
                    var newtext = current.replace(/.$/, char);
                    $(".screen").text(newtext);
                } else {
                    $(".screen").append(char);
                }
            }
        });
    });
</script>

</body>
</html>
